:root{
    --black: #202020;
    --DarkGrey: #375263;
    --LightGrey: #D6D2CF;
    --DarkWhite: #F2EDE4;


    --transition: all 300ms ease;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background: var(--DarkWhite);*/
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5rem;
    

}

.pointer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 2rem;
    height: 2rem;
    background-color: var(--black);
    border: 1px solid var(--DarkWhite);
    pointer-events: none;
    transition: 0.2s;

}

.pointer h4{
    color: var(--black);
    -webkit-text-stroke-width: 0.02rem;
    -webkit-text-stroke-color: var(--DarkWhite);
    font-size: 2rem;
    padding: 2rem;
    width: 5rem;
}



.menu{
    color: var(--black);
    margin-left: 4em;
    text-transform: uppercase;
    width: 50%;
    position: absolute;
   
}

.hiddenMenu{
    color: var(--DarkWhite);
    width: 50%;
    margin-left: 4em;
    text-transform: uppercase;
    right: 0;
    position: absolute;
    align-items: center;
    top: 25%;
 }

.hiddenMenu h1{
    font-size: 2rem;
    letter-spacing: 10px;
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
}

.hiddenMenu sup{
    font-size: 1rem;
    letter-spacing: 5px;
    margin-bottom: 0.5em;
}

.hiddenMenu h3{
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
    letter-spacing: 5px;
    position: relative;
    padding-bottom: 3rem;
    width: 70%;
    line-height : 2rem;
   
}

.hiddenMenu p{
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    letter-spacing: 4px;
    position: relative;
    padding-bottom: 3rem;
    width: 70%;
    line-height : 2rem;

   
}



.menu h1{
    font-size: 2rem;
    letter-spacing: 10px;
    display: flex;
    margin-bottom: 0.5em;
}

.menu sup{
    font-size: 1rem;
    letter-spacing: 5px;
    margin-bottom: 0.5em;
    padding-left: 1rem;
}



.menu h3{
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
    letter-spacing: 5px;
    position: relative;
    padding-bottom: 3rem;
    line-height : 2rem;
    width: 70%;
    
}



.menu ul{
    list-style: none;
    padding-left: 1px;
    
}

.menu li {
   margin:2rem 0; 
}

.menu li a{
   text-decoration: none;
   color:var(--black);
   font-weight: 900; 
   font-size: 2rem;
   position: relative;
    width: 20rem;
    height: 4rem;
    margin: 10px 0;
    -webkit-text-stroke-width: 0.02rem;
    -webkit-text-stroke-color: var(--DarkWhite);
  


    display: inline-flex;
    justify-content: left;
    padding-left: 1rem;
    align-items: center;
    transition: 0.5s;
    text-transform: uppercase;
}

.menu li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: 0.8s;
}

.menu li a:hover::before{
        
        width: 160%;
        z-index: -1;
        background-color: var(--black);
        border: 1px solid var(--DarkWhite)

    }

    .menu li a:hover{
        color: var(--DarkWhite);
        
        

    }

@media screen and(max-width:800px) {

    body{
    height: 100vh;
    overflow: hidden;

    }
    .menu h1 {
       font-size: 2em; 
    }

    .menu h3 {
        font-size: 1.2em;
    }
}

@media screen and (max-width:500px){
    .menu h1{
        letter-spacing: 5px;
    }
    body{
        height: 100vh;
    
    overflow: hidden;

    }
    
}

@media screen and (max-height:450px){
    body{
        height: 100vh;
    
    overflow: hidden;

    }
}
